# Django stuff:
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
env/
venv/
ENV/
env.bak/
.idea

#cache
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

#Default database
db.sqlite3

#coverage data
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover